.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 0.4);
  backdrop-filter: blur(4px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 50;
}

.modal-container {
  width: 100%;
  max-width: 48rem;
  max-height: 90vh;

  overflow-y: auto;

  background: var(--color-background);

  border-radius: 24px;

  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}
