<nav
  (mouseenter)="isHovered.set(true)"
  (mouseleave)="isHovered.set(false)"
  [class.shadow-navbar]="isScrolled() || isHovered()"
  class="w-[70%] mx-auto px-6 py-3 rounded-[15px] bg-background transition-shadow duration-300">

  <div class="flex items-center justify-between gap-2">
    <!-- Lado izquierdo -->
     <div class="flex items-center gap-2">
        <button routerLink="/" class="flex items-center px-3 py-2 cursor-pointer">
          <img src="vectors/UCC-Vector.svg" alt="C-Loop Logo" class="h-8 w-auto" />
        </button>

        <button
          (click)="toggleMenu('explorar')"
          class="flex items-center gap-1 px-3 py-2 cursor-pointer rounded-lg transition-colors duration-200 hover:bg-surface-gray-100">
          <span class="font-inter text-surface-gray-600">Explorar</span>
          <app-svg-icon src="vectors/angle-small-down.svg" color="var(--color-surface-gray-600)" class="transition-transform duration-200" [class.rotate-180]="activeMenu() === 'explorar'"/>
        </button>

        <button
          (click)="toggleMenu('recursos')"
          class="flex items-center gap-1 px-3 py-2 cursor-pointer rounded-lg transition-colors duration-200 hover:bg-surface-gray-100">
          <span class="font-inter text-surface-gray-600">Recursos</span>
          <app-svg-icon src="vectors/angle-small-down.svg" color="var(--color-surface-gray-600)" class="transition-transform duration-200" [class.rotate-180]="activeMenu() === 'recursos'"/>
        </button>

        <button
          (click)="toggleMenu('desarrolladores')"
          class="flex items-center gap-1 px-3 py-2 cursor-pointer rounded-lg transition-colors duration-200 hover:bg-surface-gray-100">
          <span class="font-inter text-surface-gray-600">Desarrolladores</span>
          <app-svg-icon src="vectors/angle-small-down.svg" color="var(--color-surface-gray-600)" class="transition-transform duration-200" [class.rotate-180]="activeMenu() === 'desarrolladores'"/>
        </button>
     </div>

     <!-- Lado Derecho -->
      <div>
        <button
          routerLink="/login"
          [class.btn-login-active]="isScrolled() || isHovered()"
          class="btn-login px-8 py-2 font-poppins rounded-lg cursor-pointer transition-all duration-300">
          Inicia Sesión
        </button>
      </div>
  </div>

  <!-- Dropdowns -->
  @if (activeMenu() !== null) {
    <div
      class="dropdown-menu absolute left-1/2 -translate-x-1/2 top-full mt-2 w-140 bg-background rounded-2xl shadow-navbar p-4 z-50"
      [class.dropdown-visible]="isMenuVisible()">
      <div class="grid grid-cols-2 gap-3">
        @for (item of menus[activeMenu()!]; track item.label) {
          <div
            class="flex flex-row gap-3 p-3 rounded-xl hover:bg-surface-gray-100 transition-colors duration-200 cursor-pointer"
            (click)="handleItemClick(item)"
            >
            <!-- Icono a la izquierda -->
            <div class="w-10 h-10 min-w-10 rounded-lg bg-surface-gray-100 flex items-center justify-center">
              <img [src]="item.icon" alt="" class="w-5 h-5" />
            </div>
            <!-- Contenido a la derecha -->
            <div class="flex flex-col gap-1 flex-1">
              <span class="font-inter text-surface-gray-600 text-sm">{{ item.label }}</span>
              <div class="separator-gradient h-1 rounded w-full"></div>
              <span class="font-inter text-surface-gray-400 text-sm">{{ item.description }}</span>
            </div>
          </div>
        }
      </div>
    </div>
  }
</nav>
