.shadow-navbar {
  box-shadow: 0 4px 10px 4px color-mix(in srgb, var(--color-surface-gray-600) 40%, transparent);
}

.btn-login {
  border: 2px solid transparent;
  color: var(--color-surface-gray-600);
}

.btn-login-active {
  border-color: var(--color-ui-blue);
  color: var(--color-ui-blue);
}

.btn-login-active:hover {
  background-color: var(--color-ui-blue);
  color: white;
}